In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Coverting User Data to Parquet format").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [3]:
from pyspark.sql.types import StructField, StructType
from pyspark.sql.types import StringType, IntegerType,DoubleType
import pyspark.sql.functions as F
import numpy as np
import pandas as pd

In [4]:
local_path = "/home/talentum/shared/dataSource/sd254_users.csv"
if os.path.exists(local_path):
    print("Found local file. Uploading to HDFS...")
    os.system(f"hdfs dfs -put -f {local_path} /user/talentum/projectMaster/dataStaging/sd254_users.csv")
    print("Upload complete.")
else:
    print(f"ERROR: Local file not found at {local_path}")

Found local file. Uploading to HDFS...
Upload complete.

In [5]:
# creating schema for the underlying data to enforce lazy evaluation
schema = StructType([
    StructField('Person', StringType(), True),
    StructField('Current Age', IntegerType(), True),
    StructField('Retirement Age', IntegerType(), True),
    StructField('Birth Year', IntegerType(), True),
    StructField('Birth Month', IntegerType(), True),
    StructField('Gender', StringType(), True),
    StructField('Address', StringType(), True),
    StructField('Apartment', StringType(), True),
    StructField('City', StringType(), True),
    StructField('State', StringType(), True),
    StructField('Zipcode', StringType(), True),
    StructField('Latitude', DoubleType(), True),
    StructField('Longitude', DoubleType(), True),
    StructField('Per Capita Income - Zipcode', StringType(), True),
    StructField('Yearly Income - Person', StringType(), True),
    StructField('Total Debt', StringType(), True),
    StructField('FICO Score', IntegerType(), True),
     StructField('Num Credit Cards', IntegerType(), True)
])

In [6]:
df = spark.read.csv('/user/talentum/projectMaster/dataStaging/sd254_users.csv', header = True, schema = schema, mode="PERMISSIVE")

In [7]:
#renaming column names to enter into parquet file as it does not support spaces, or special char in column names
new_columns = [
    "Person_ID",
    "Current_Age",
    "Retirement_Age",
    "Birth_Year",
    "Birth_Month",
    "Gender",
    'Address',
    'Apartment',
    'City',
    'State',
    'Zipcode',
    'Latitude',
    'Longitude',
    'Per_Capita_Income_Zipcode',
    'Yearly_Income_Person',
    'Total_Debt',
    'FICO_Score',
    'Num_Credit_Cards'
]

# Apply the toDF() method to rename all columns
df_renamed = df.toDF(*new_columns)

In [8]:
column_names=df_renamed.columns
column_lower_case=[col.lower() for col in column_names]
df_fixed=df_renamed.toDF(*column_lower_case)
df_fixed.show()

+-----------------+-----------+--------------+----------+-----------+------+--------------------+---------+-------------+-----+-------+--------+---------+-------------------------+--------------------+----------+----------+----------------+
|        person_id|current_age|retirement_age|birth_year|birth_month|gender|             address|apartment|         city|state|zipcode|latitude|longitude|per_capita_income_zipcode|yearly_income_person|total_debt|fico_score|num_credit_cards|
+-----------------+-----------+--------------+----------+-----------+------+--------------------+---------+-------------+-----+-------+--------+---------+-------------------------+--------------------+----------+----------+----------------+
|   Hazel Robinson|         53|            66|      1966|         11|Female|       462 Rose Lane|     null|     La Verne|   CA|  91750|   34.15|  -117.76|                   $29278|              $59696|   $127613|       787|               5|
|       Sasha Sadr|         53|            68|      1966|         12|Female|3606 Federal Boul...|     null|  Little Neck|   NY|  11363|   40.76|   -73.74|                   $37891|              $77254|   $191349|       701|               5|
|       Saanvi Lee|         81|            67|      1938|         11|Female|     766 Third Drive|     null|  West Covina|   CA|  91792|   34.02|  -117.89|                   $22681|              $33483|      $196|       698|               5|
|    Everlee Clark|         63|            63|      1957|          1|Female|    3 Madison Street|     null|     New York|   NY|  10069|   40.71|   -73.99|                  $163145|             $249925|   $202328|       722|               4|
|    Kyle Peterson|         43|            70|      1976|          9|  Male|9620 Valley Strea...|     null|San Francisco|   CA|  94117|   37.76|  -122.44|                   $53797|             $109687|   $183855|       675|               1|
|      Aldo Walker|         42|            70|      1977|         10|  Male|       58 Birch Lane|        6|    Davenport|   IA|  52803|   41.55|    -90.6|                   $20599|              $41997|        $0|       704|               3|
|   Katalina Lewis|         36|            67|      1983|         12|Female|   5695 Fifth Street|        1|   Louisville|   KY|  40299|   38.22|   -85.74|                   $25258|              $51500|   $102286|       672|               3|
|    Ryland Howard|         26|            67|      1993|         12|  Male|   1941 Ninth Street|       10|     Portland|   OR|  97214|   45.51|  -122.64|                   $26790|              $54623|   $114711|       728|               1|
|     Kenya Cooper|         81|            66|      1938|          7|Female|    11 Spruce Avenue|     null|      Telford|   PA|  18969|   40.32|   -75.32|                   $26273|              $42509|     $2895|       755|               5|
|    Sawyer Butler|         34|            60|      1986|          1|Female|    887 Grant Street|     null|    Abbeville|   LA|  70510|   29.97|   -92.12|                   $18730|              $38190|    $81262|       810|               1|
|     Antonio Ryan|         27|            66|      1992|          6|  Male|      888 Fifth Lane|       10|    Fair Oaks|   CA|  95628|   38.65|  -121.25|                   $27548|              $56164|    $15224|       761|               2|
|   Elliot Edwards|         29|            63|      1990|          9|Female|8677 Littlewood Lane|     null|      Greeley|   CO|  80634|   40.42|  -104.74|                   $22427|              $45727|    $94016|       629|               1|
|    Romina Garcia|         18|            67|      2002|          1|Female|829 Fourth Boulevard|     null|     Cranston|   RI|  02921|   41.76|   -71.48|                   $33914|              $69149|    $89214|       776|               1|
|       Keanu Chen|         34|            62|      1985|         10|  Male|74786 Jefferson D...|     null|Traverse City|   MI|  49686|   44.75|    -85.6|                   $20325|              $41442|    $78833|       712|               3|
|     Poppy Flores|         48|            62|      1971|          5|Female|     781 East Street|     null|  San Antonio|   TX|  78207|   29.45|    -98.5|                   $10059|              $20513|    $32509|       599|               1|
|        Riya Cruz|         41|            68|      1978|          4|Female| 40 Washington Drive|     null|   Boise City|   OK|  73933|   36.73|  -102.51|                   $11342|              $23123|     $5079|       723|               6|
|      Saul Walker|         54|            71|      1966|          1|  Male| 3994 Hillside Drive|     null|    Henderson|   TX|  75652|   32.15|   -94.79|                   $17898|              $36497|    $38333|       719|               6|
|     Anahi Rogers|         76|            71|      1943|          8|Female|    172 Birch Street|        9|    Flagstaff|   AZ|  86004|   35.29|  -111.32|                   $21950|              $27484|    $16803|       660|               4|
|    Cayden Rivera|         22|            68|      1997|         11|  Male|8145 Spruce Boule...|      635|    Charlotte|   NC|  28269|   35.19|   -80.83|                   $26481|              $53995|    $89056|       683|               3|
|Cristiano Jenkins|         66|            68|      1953|         10|  Male|      153 Tenth Lane|     null|       Tucson|   AZ|  85711|   32.21|  -110.88|                   $17460|              $35602|    $55369|       661|               5|
+-----------------+-----------+--------------+----------+-----------+------+--------------------+---------+-------------+-----+-------+--------+---------+-------------------------+--------------------+----------+----------+----------------+
only showing top 20 rows

In [9]:
#saving data to hdfs and local dataStaging area in parquet data format
df_renamed.write.mode("overwrite").orc('/user/talentum/projectMaster/dataStaging/sd254_users.parquet')