In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("create_merchant_recommendation_dataMart").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [3]:
# CRITICAL FIXES: Must be run BEFORE loading data to prevent ClassCastException
# 1. Disable Vectorized Reader (Avoids low-level ORC data reading crash)
spark.conf.set("spark.sql.orc.enableVectorizedReader", "false")
spark.conf.set("spark.sql.hive.convertMetastoreOrc", "false")
# 2. Disable Broadcast Join (Avoids memory/shuffle crash on join)
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1) 
# 3. Disable Spark's optimizing components (Forces safer execution path)
spark.conf.set("spark.sql.cbo.enabled", "false") 
spark.conf.set("spark.sql.codegen.wholeStage", "false")
# 4. Force Hive SerDe (Ultimate attempt to bypass native Spark reader)
spark.conf.set("spark.sql.hive.convertMetastore", "false") 

print("Spark Config Updated for maximum stability.")

Spark Config Updated for maximum stability.

In [4]:
import pandas as pd
import numpy as np
import pyspark.sql.functions as F 
from pyspark.sql.types import StructType, StructField, DoubleType, IntegerType, StringType, DecimalType, TimestampType

In [5]:
#Load the tables directly from the Database
#We use the standard "database_name.table_name" format

print("Loading Silver Layer table from Hive..")

#A. Transaction Table
df_trans=spark.table("financial_db.transactions_silver")

#B. Users Table
df_users=spark.table("financial_db.users_silver")

#C.Cards Table
df_cards=spark.table("financial_db.cards_silver")

#3.Verification
print(f"Transaction Count:{df_trans.count()}")
print(f"Users Count: {df_users.count()}")
print(f"Cards Count: {df_cards.count()}")

#4.Preview Schema to ensure types are correct
df_trans.printSchema()
df_users.printSchema()
df_cards.printSchema()

Loading Silver Layer table from Hive..
Transaction Count:24386900
Users Count: 2000
Cards Count: 6146
root
 |-- user_id: integer (nullable = true)
 |-- card_id: integer (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)
 |-- use_chip: string (nullable = true)
 |-- merchant_name: string (nullable = true)
 |-- merchant_city: string (nullable = true)
 |-- merchant_state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- mcc: integer (nullable = true)
 |-- errors: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- transaction_timestamp: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

root
 |-- person_id: string (nullable = true)
 |-- current_age: integer (nullable = true)
 |-- retirement_age: integer (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- birth_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- apartment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- per_capita_income_zipcode: decimal(10,2) (nullable = true)
 |-- yearly_income_person: decimal(10,2) (nullable = true)
 |-- total_debt: decimal(10,2) (nullable = true)
 |-- fico_score: integer (nullable = true)
 |-- num_credit_cards: integer (nullable = true)

root
 |-- user: integer (nullable = true)
 |-- card_index: integer (nullable = true)
 |-- card_brand: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- card_number: long (nullable = true)
 |-- expires: string (nullable = true)
 |-- cvv: integer (nullable = true)
 |-- has_chip: string (nullable = true)
 |-- cards_issued: integer (nullable = true)
 |-- credit_limit: decimal(10,2) (nullable = true)
 |-- year_pin_last_changed: integer (nullable = true)
 |-- card_on_dark_web: string (nullable = true)
 |-- acct_opened_month: integer (nullable = true)
 |-- acct_opened_year: integer (nullable = true)
 |-- expires_month: integer (nullable = true)
 |-- expires_year: integer (nullable = true)

In [6]:
df_trans.show()

+-------+-------+------+--------+--------------------+----------------+--------------+-----+----+-------+--------+---------------------+----+-----+
|user_id|card_id|amount|use_chip|       merchant_name|   merchant_city|merchant_state|  zip| mcc| errors|is_fraud|transaction_timestamp|year|month|
+-------+-------+------+--------+--------------------+----------------+--------------+-----+----+-------+--------+---------------------+----+-----+
|      2|      1|107.14|   Swipe|-1361486651208389220|        Rosemead|            CA|91772|4111|    N/A|      No|  2002-07-01 09:34:00|2002|    7|
|    177|      1|  1.99|   Swipe| 1799189980464955940|     Saint Cloud|            FL|34772|5499|    N/A|      No|  2002-07-01 08:24:00|2002|    7|
|      2|      1| 45.18|  Online|-6458444334611773637|          ONLINE|          null|00000|4784|    N/A|      No|  2002-07-02 04:45:00|2002|    7|
|    177|      1|  8.47|   Swipe| 6882551472640459815|        Wildwood|            FL|34785|5812|Bad PIN|      No|  2002-07-01 10:47:00|2002|    7|
|      2|      1|  8.47|   Swipe|-4891055843221560993|     West Covina|            CA|91792|5411|    N/A|      No|  2002-07-02 10:59:00|2002|    7|
|    177|      1| 10.59|   Swipe| 6882551472640459815|        Wildwood|            FL|34785|5812|    N/A|      No|  2002-07-01 10:55:00|2002|    7|
|      2|      1| 53.16|   Swipe| 7479593622964634169|        Alhambra|            CA|91803|5311|    N/A|      No|  2002-07-02 14:41:00|2002|    7|
|    177|      1| 14.73|   Swipe|  208913003131233315|     Saint Cloud|            FL|34771|4121|    N/A|      No|  2002-07-01 12:47:00|2002|    7|
|      2|      1| 42.31|  Online|-6458444334611773637|          ONLINE|          null|00000|4784|    N/A|      No|  2002-07-03 04:59:00|2002|    7|
|    177|      1| 25.44|   Swipe|  208913003131233315|     Saint Cloud|            FL|34771|4121|    N/A|      No|  2002-07-01 16:00:00|2002|    7|
|      2|      1| 13.91|   Swipe| 6042526206085641250|     West Covina|            CA|91792|5912|    N/A|      No|  2002-07-03 06:54:00|2002|    7|
|    177|      1| 22.21|   Swipe|-1991917488358139833|Port Saint Lucie|            FL|34953|7832|    N/A|      No|  2002-07-01 17:40:00|2002|    7|
|      2|      1|  7.93|   Swipe| 4722913068560264812|        Alhambra|            CA|91801|5411|    N/A|      No|  2002-07-03 07:52:00|2002|    7|
|    177|      1| 12.68|   Swipe| 2027553650310142703|     Saint Cloud|            FL|34771|5541|    N/A|      No|  2002-07-02 10:32:00|2002|    7|
|      2|      1|  5.62|   Swipe|-4891055843221560993|     West Covina|            CA|91792|5411|    N/A|      No|  2002-07-04 08:14:00|2002|    7|
|    177|      1| 20.93|  Online|-5841929396161652653|          ONLINE|          null|00000|4121|    N/A|      No|  2002-07-02 12:41:00|2002|    7|
|      2|      1| 14.45|   Swipe| 4722913068560264812|        Alhambra|            CA|91801|5411|    N/A|      No|  2002-07-04 10:59:00|2002|    7|
|    177|      1| 10.39|   Swipe| 6091778774361517457|        Leesburg|            FL|34788|5411|    N/A|      No|  2002-07-03 10:47:00|2002|    7|
|      2|      1|146.73|   Swipe|-3693650930986299431|        Alhambra|            CA|91801|4814|    N/A|      No|  2002-07-04 14:46:00|2002|    7|
|    177|      1|  7.62|   Swipe| 2027553650310142703|     Saint Cloud|            FL|34771|5541|    N/A|      No|  2002-07-03 11:26:00|2002|    7|
+-------+-------+------+--------+--------------------+----------------+--------------+-----+----+-------+--------+---------------------+----+-----+
only showing top 20 rows

In [7]:
df_cards.select("card_number","card_type").show(10)

+----------------+---------------+
|     card_number|      card_type|
+----------------+---------------+
|4344676511950444|          Debit|
|4956965974959986|          Debit|
|4582313478255491|          Debit|
|4879494103069057|         Credit|
|5722874738736011|Debit (Prepaid)|
|4404898874682993|         Credit|
|4001482973848631|          Debit|
|5627220683410948|          Debit|
|5711382187309326|Debit (Prepaid)|
|5766121508358701|Debit (Prepaid)|
+----------------+---------------+
only showing top 10 rows

In [8]:
print("----2.Fixing Users Table----")

#1. Generate 'user_id' using Row Number(0,1,2)
rdd_with_id=df_users.rdd.zipWithIndex().map(lambda x:(x[1],)+tuple(x[0]))

#2.Create DataFrame with "user_id" as the first column 
new_column_names=["user_id"]+df_users.columns

df_users_indexed=spark.createDataFrame(rdd_with_id,new_column_names)

----2.Fixing Users Table----

In [9]:
df_users_indexed.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- person_id: string (nullable = true)
 |-- current_age: long (nullable = true)
 |-- retirement_age: long (nullable = true)
 |-- birth_year: long (nullable = true)
 |-- birth_month: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- apartment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- per_capita_income_zipcode: decimal(38,18) (nullable = true)
 |-- yearly_income_person: decimal(38,18) (nullable = true)
 |-- total_debt: decimal(38,18) (nullable = true)
 |-- fico_score: long (nullable = true)
 |-- num_credit_cards: long (nullable = true)

In [10]:
#Dropping the is_fraud col and removing the rows where is_froud = 'No'
df_trans_prep=df_trans.filter(F.col("errors")=='N/A').filter(F.col("amount")>0).filter(F.col("is_fraud")=="No")
df_trans_prep=df_trans_prep.drop("is_fraud","errors","use_chip")
print("---printing the final schema of the prepped transaction table---")
df_trans_prep.printSchema()


#selecting the necessary fields from the df_cards
df_users_prep=df_users_indexed.select(
    F.col("user_id"),
    F.col("person_id").alias("person_name"),
    F.col("current_age"),
    F.col("gender"),
    F.col("city"),
    F.col("zipcode"),F.col("fico_score"),F.col("num_credit_cards"))
print("---schema of the final columns selected from the users table---")
df_users_prep.printSchema()


#selecting the necessary fields from the df_cards
df_cards_prep=df_cards.select(
    F.col("user").alias("user_id"),
    F.col("card_index"),
    F.col("card_brand"),
    F.col("card_type"),
    F.col("credit_limit"))
print("---schema of the final columns selected from the cards table---")
df_cards_prep.printSchema()

---printing the final schema of the prepped transaction table---
root
 |-- user_id: integer (nullable = true)
 |-- card_id: integer (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)
 |-- merchant_name: string (nullable = true)
 |-- merchant_city: string (nullable = true)
 |-- merchant_state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- mcc: integer (nullable = true)
 |-- transaction_timestamp: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

---schema of the final columns selected from the users table---
root
 |-- user_id: long (nullable = true)
 |-- person_name: string (nullable = true)
 |-- current_age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- fico_score: long (nullable = true)
 |-- num_credit_cards: long (nullable = true)

---schema of the final columns selected from the cards table---
root
 |-- user_id: integer (nullable = true)
 |-- card_index: integer (nullable = true)
 |-- card_brand: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- credit_limit: decimal(10,2) (nullable = true)

In [11]:
df_users_prep.show(5)

+-------+--------------+-----------+------+-------------+-------+----------+----------------+
|user_id|   person_name|current_age|gender|         city|zipcode|fico_score|num_credit_cards|
+-------+--------------+-----------+------+-------------+-------+----------+----------------+
|      0|Hazel Robinson|         53|Female|     La Verne|  91750|       787|               5|
|      1|    Sasha Sadr|         53|Female|  Little Neck|  11363|       701|               5|
|      2|    Saanvi Lee|         81|Female|  West Covina|  91792|       698|               5|
|      3| Everlee Clark|         63|Female|     New York|  10069|       722|               4|
|      4| Kyle Peterson|         43|  Male|San Francisco|  94117|       675|               1|
+-------+--------------+-----------+------+-------------+-------+----------+----------------+
only showing top 5 rows

In [12]:
df_trans_prep.show(10)

+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+
|user_id|card_id|amount|       merchant_name|merchant_city|merchant_state|  zip| mcc|transaction_timestamp|year|month|
+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+
|    414|      0| 31.91|-5841929396161652653|       ONLINE|          null|00000|4121|  2009-01-01 01:02:00|2009|    1|
|   1822|      0|197.83|-5949357157231676152|       ONLINE|          null|00000|4900|  2009-01-03 13:30:00|2009|    1|
|    414|      0| 80.64|-5987150210898037557|       Osprey|            FL|34229|7538|  2009-01-01 06:56:00|2009|    1|
|   1822|      0|  0.95|-6571010470072147219|      Concord|            NC|28027|5499|  2009-01-03 16:40:00|2009|    1|
|    414|      0| 15.13| 9035140414099438382|       Osprey|            FL|34229|5411|  2009-01-01 10:57:00|2009|    1|
|   1822|      0|392.22|-1007477596717646975|    Anchorage|            AK|99504|3780|  2009-01-09 09:44:00|2009|    1|
|    414|      0|100.00|-4282466774399734331|       Osprey|            FL|34229|4829|  2009-01-01 11:32:00|2009|    1|
|   1822|      0| 43.34|   97032797689821735|    Cramerton|            NC|28032|5411|  2009-01-11 08:31:00|2009|    1|
|    414|      0| 23.67| 4241336128694185533|       ONLINE|          null|00000|4814|  2009-01-01 16:46:00|2009|    1|
|   1822|      0| 44.83|-8129211876281914379|      Concord|            NC|28027|5411|  2009-01-12 08:45:00|2009|    1|
+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+
only showing top 10 rows

In [13]:
df_cards_prep.show(5)

+-------+----------+----------+---------------+------------+
|user_id|card_index|card_brand|      card_type|credit_limit|
+-------+----------+----------+---------------+------------+
|      0|         0|      Visa|          Debit|    24295.00|
|      0|         1|      Visa|          Debit|    21968.00|
|      0|         2|      Visa|          Debit|    46414.00|
|      0|         3|      Visa|         Credit|    12400.00|
|      0|         4|Mastercard|Debit (Prepaid)|       28.00|
+-------+----------+----------+---------------+------------+
only showing top 5 rows

In [14]:
# now joining the the df_trans_prep and df_users_prep  on user_id
df_join=df_trans_prep.join(df_users_prep,on="user_id")

In [15]:
df_join.show(5)

+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+-------------+-----------+------+-------+-------+----------+----------------+
|user_id|card_id|amount|       merchant_name|merchant_city|merchant_state|  zip| mcc|transaction_timestamp|year|month|  person_name|current_age|gender|   city|zipcode|fico_score|num_credit_cards|
+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+-------------+-----------+------+-------+-------+----------+----------------+
|     26|      0|190.55|-1243653537087039368|       ONLINE|          null|00000|6300|  2019-12-01 11:08:00|2019|   12|Amaya Stewart|         40|Female|Houston|  77061|       722|               2|
|     26|      0|  2.27|-1288082279022882052|      Houston|            TX|77062|5499|  2019-12-02 07:04:00|2019|   12|Amaya Stewart|         40|Female|Houston|  77061|       722|               2|
|     26|      0|  7.28|-5162038175624867091|      Houston|            TX|77062|5541|  2019-12-02 09:55:00|2019|   12|Amaya Stewart|         40|Female|Houston|  77061|       722|               2|
|     26|      0| 14.45|  915468421652011643|      Houston|            TX|77061|5411|  2019-12-03 09:49:00|2019|   12|Amaya Stewart|         40|Female|Houston|  77061|       722|               2|
|     26|      0|  2.98|-1688244360627004732|       ONLINE|          null|00000|4784|  2019-12-03 11:01:00|2019|   12|Amaya Stewart|         40|Female|Houston|  77061|       722|               2|
+-------+-------+------+--------------------+-------------+--------------+-----+----+---------------------+----+-----+-------------+-----------+------+-------+-------+----------+----------------+
only showing top 5 rows

In [16]:
#joining the cards table with df_join
df_join_final=df_join.join(df_cards_prep, on="user_id")

In [17]:
df_join_final.show(5)

+-------+-------+------+-------------------+-------------+--------------+-----+----+---------------------+----+-----+-----------+-----------+------+--------+-------+----------+----------------+----------+----------+---------+------------+
|user_id|card_id|amount|      merchant_name|merchant_city|merchant_state|  zip| mcc|transaction_timestamp|year|month|person_name|current_age|gender|    city|zipcode|fico_score|num_credit_cards|card_index|card_brand|card_type|credit_limit|
+-------+-------+------+-------------------+-------------+--------------+-----+----+---------------------+----+-----+-----------+-----------+------+--------+-------+----------+----------------+----------+----------+---------+------------+
|    148|      2| 81.29|4241336128694185533|       ONLINE|          null|00000|4814|  2003-04-01 05:18:00|2003|    4|Kora Bailey|         83|Female|Rio Rico|  85648|       689|               5|         0|Mastercard|    Debit|    12091.00|
|    148|      2| 81.29|4241336128694185533|       ONLINE|          null|00000|4814|  2003-04-01 05:18:00|2003|    4|Kora Bailey|         83|Female|Rio Rico|  85648|       689|               5|         1|Mastercard|    Debit|    11157.00|
|    148|      2| 81.29|4241336128694185533|       ONLINE|          null|00000|4814|  2003-04-01 05:18:00|2003|    4|Kora Bailey|         83|Female|Rio Rico|  85648|       689|               5|         2|      Visa|   Credit|     7100.00|
|    148|      2| 81.29|4241336128694185533|       ONLINE|          null|00000|4814|  2003-04-01 05:18:00|2003|    4|Kora Bailey|         83|Female|Rio Rico|  85648|       689|               5|         3|Mastercard|    Debit|     7612.00|
|    148|      2| 81.29|4241336128694185533|       ONLINE|          null|00000|4814|  2003-04-01 05:18:00|2003|    4|Kora Bailey|         83|Female|Rio Rico|  85648|       689|               5|         4|      Visa|   Credit|     6100.00|
+-------+-------+------+-------------------+-------------+--------------+-----+----+---------------------+----+-----+-----------+-----------+------+--------+-------+----------+----------------+----------+----------+---------+------------+
only showing top 5 rows

In [18]:
df_join_final.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- card_id: integer (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)
 |-- merchant_name: string (nullable = true)
 |-- merchant_city: string (nullable = true)
 |-- merchant_state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- mcc: integer (nullable = true)
 |-- transaction_timestamp: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- person_name: string (nullable = true)
 |-- current_age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- fico_score: long (nullable = true)
 |-- num_credit_cards: long (nullable = true)
 |-- card_index: integer (nullable = true)
 |-- card_brand: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- credit_limit: decimal(10,2) (nullable = true)

In [19]:

from pyspark.sql.window import Window
df_mart = df_join_final.withColumn(
    # 1. Composite Transaction ID
    "transaction_id",
    F.concat_ws("-", F.col("user_id"), F.col("card_id"), F.col("transaction_timestamp").cast("long"))
).withColumn("is_weekend", F.dayofweek("transaction_timestamp").isin(1, 7)) \
    .withColumn("day_part", 
        F.when((F.hour("transaction_timestamp") >= 5) & (F.hour("transaction_timestamp") < 12), "Morning")
        .when((F.hour("transaction_timestamp") >= 12) & (F.hour("transaction_timestamp") < 17), "Afternoon")
        .when((F.hour("transaction_timestamp") >= 17) & (F.hour("transaction_timestamp") < 21), "Evening")
        .otherwise("Night")) \
    .withColumn("utilization_rate", F.col("amount") / F.col("credit_limit")) \
    .withColumn("is_local", F.col("city") == F.col("merchant_city"))




# Adding  Loyalty Signal (How many times has this user been here before?)
window_spec = Window.partitionBy("user_id", "merchant_name").orderBy("transaction_timestamp")
df_mart = df_mart.withColumn("cumulative_visit_count", F.row_number().over(window_spec))

In [21]:
df_mart=df_mart.withColumn("merchant_zip",F.col("zip"))
df_mart=df_mart.drop("fico_score","num_credit_cards","card_index")

In [22]:
df_mart=df_mart.drop("zip")

In [ ]:
print("--- Step 6: Saving as External Hive Table ---")
# Path for the External Table
gold_path = "/user/talentum/projectMaster/warehouseDir/gold/merchants_recommendation"
spark.sql("DROP TABLE IF EXISTS financial_db.merchants_recommendation_gold")

# Write with explicit partitioning and Hive serde override
df_gold_merchant.write \
    .mode("overwrite") \
    .format("orc") \
    .option("path", "/user/talentum/projectMaster/warehouseDir/gold/merchants_recommendation") \
    .option("compression", "snappy") \
    .saveAsTable("financial_db.merchants_recommendation_gold")

print("SUCCESS: Table saved!")

--- Step 6: Saving as External Hive Table ---